html, body {
	padding: 0;
	margin: 0;
	overflow: hidden;
	
	background: #000000;
	color: white;
}

html, body, canvas {
	touch-action: none;
	touch-action-delay: none;
}

@font-face {
	font-family: 'spyagency2_1acad';
	src: url('fonts/spyagency2_1acad.ttf') format('truetype');
}

@font-face {
	font-family: 'PinballChallenge';
	src: url('fonts/pinballchallenge.ttf') format('truetype');
}

@font-face {
	font-family: 'Bolde Rough';
	src: url('fonts/bolde rough.otf') format('opentype');
}

